spring:
  application:
    name: FinStreak
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:app_db}
    username: ${DB_USER:app_user}
    password: ${DB_PASS:app_pass}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: ${SERVER_PORT:8080}

jwt:
  secret: ${JWT_SECRET:u7i8o9p0q1w2e3r4t5y6u7i8o9p0q1w2}

logging:
  level:
    root: INFO
